.gallery{
	width: 700px;
	margin: auto;
	overflow: auto;
	background-color: white;
	min-height: 700px;
	padding: 20px;
}
.width-2{
	width:300px;
}
.width-1{
	width:150px;
}
.height-5{
	
}
.color-1{
	background-color: rgb(82,42,92);
}
.color-2{
	background-color: rgb(89,0,178);
}
.color-3{
	background-color: rgb(217,163,0);
}
.gallery .picture{
	color: white;
	margin-left: 10px;
	margin-top: 10px;
	float: left;
}
.gallery .picture img{
	width: 100%;

}
.gallery .picture .picturetext{
	padding: 10px;
}